<template>
  <div id="header">
    <div class="select">
      <label for="cities">
        <input list="cities" name="city" id="city" placeholder="Pesquisar cidade" />
        <datalist id="cities">
          <option value="Varginha"></option>
          <option value="Pouso Alegre"></option>
          <option value="Poços de Caldas"></option>
          <option value="Lavras"></option>
          <option value="Divinópolis"></option>
        </datalist>
      </label>
      <button>
        <img src="@/assets/Icons/search-white-18dp.svg" alt="Search">
      </button>
    </div>
    <div class="control">
      <div class="notifications">
      <img
        src="@/assets/Icons/notifications-white-18dp.svg"
        alt="Notifications"
      />
      <span class="number">3</span>
    </div>
    <img
        src="https://lh3.googleusercontent.com/ogw/ADGmqu_JzKHVoNJdHd_UeG2qXl5IM5QCaW6Y2kIOjGAsOw=s83-c-mo"
        alt="Perfil"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'header',
};
</script>

<style></style>
<style src="./style.css" scoped />
