            @import "../../css/reset.css";
            #header {
                background-color: #1A1D20;
                padding: 16px;
                box-shadow: 1px 1px 3px #000;
                position: fixed;
                width: inherit;
                overflow: hidden;
                display: flex;
                justify-content: space-between;
                align-items: center;
                top: 0;
            }
            
            #header .select {
                display: flex;
                align-items: center;
                background-color: #202225;
                padding: 12px;
                border-radius: 24px;
                width: 300px;
            }
            
            #header .select label {
                width: 100%;
            }
            
            #header .select label input {
                display: flex;
                align-items: center;
                background-color: #202225;
                color: #f9f9f9;
                font-size: 14px;
                font-weight: 300;
                width: 100%;
            }
            
            #header .select label input::placeholder {
                color: #fff;
                opacity: 0.4;
            }
            
            #header .select button {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
            
            #header .control {
                display: flex;
            }
            
            #header .notifications {
                display: flex;
                position: relative;
                padding: 4px;
                margin-right: 16px;
            }
            
            #header .notifications:hover {
                transform: scale(1.05);
                transition: all 300ms ease-in;
            }
            
            #header img[alt="Notifications"] {
                width: 24px;
                cursor: pointer;
            }
            
            #header .number {
                top: 7px;
                right: -1px;
                position: absolute;
                background-color: red;
                font-size: 10px;
                font-weight: bold;
                color: white;
                width: 16px;
                height: auto;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
            #header img[alt="Perfil"] {
                width: 30px;
                height: 30px;
                border-radius: 30px;
                border: 2px solid #ffffff;
            }
            
            #header img[alt="Perfil"]:hover {
                transform: scale(1.05);
                cursor: pointer;
                transition: all 300ms ease-in;
            }