<template>
  <div id="autetication">
    <Login></Login>
  </div>
</template>
<script>
export default {
  name: 'home',
  components: {
    Login: () => import('@/components/Login/Login'),
  },
};
</script>
<style src="./style.css" scoped />
