<template>
  <div id="login">
    <div class="background">
      <div class="container">
        <img src="@/assets/Brand/Logo.svg" alt="Logo" />
        <div class="text">
          <h1>Gestão Wizzer Imóveis</h1>
          <p>O sonho da casa nova começa aqui!</p>
          <a href="https://wizzer.com.br/">Acessar site</a>
        </div>
      </div>
    </div>
    <form autocomplete="false" class="form">
      <img src="@/assets/Icons/settings.svg" alt="Logo Intro" />
      <h1>Viva o aluguel fácil</h1>
      <p>
        Acreditamos em poder modernizar a vida de milhares que estão em um
        processo de decisão de alugar sua nova moradia, seu lar.
      </p>
      <label for="email" v-if="step == '1'">
        <small
          ><img
            src="@/assets/Icons/person-24px.svg"
            alt="Seu email de Usuário"
          />
          Email
          <span v-if="$v.email.$error">Insira um email válido!</span></small
        >
        <input
          type="email"
          v-model="email"
          autofocus
          @change="$v.email.$touch()"
          :style="{
            border:
              $v.email.$error == true
                ? '1px solid #DB3A34'
                : '1px solid #24282C',
          }"
          name="email"
          id="email"
          placeholder="Seu Email"
          title="administrador@gmail.com"
          autocomplete="false"
          required
        />
      </label>
      <label for="password" v-if="step == '1'">
        <small
          ><img
            src="@/assets/Icons/vpn_key-white-18dp.svg"
            alt="Sua senha de Usuário"
          />
          Senha <span v-if="$v.pass.$error">Senha incorreta!</span></small
        >
        <input
          type="password"
          :style="{
            border:
              $v.pass.$error == true
                ? '1px solid #DB3A34'
                : '1px solid #24282C',
          }"
          v-model="pass"
          @change="$v.pass.$touch()"
          name="password"
          id="password"
          placeholder="Sua Senha"
          title="Sua Senha"
          autocomplete="new-password"
          required
        />
      </label>
      <div class="confirmation" v-if="step == '2'">
        <p>Enviamos o código de acesso para seu email</p>
        <small
          ><img src="@/assets/Icons/email-white.svg" alt="Sua senha" /> Digite o
          seu código de acesso
          <span v-if="errorCode">código inválido!</span></small
        >
        <div class="serial">
          <input
            type="text"
            :style="{ border: final == true ? '1px solid #27AE60' : errorCode  ? '1px solid #DB3A34' : '1px solid #24282C'}"
            v-model="number[0]"
            maxlength="1"
            @change="errorCode = false"
            autofocus
            required
          />
          <input
            type="text"
            :style="{ border: final == true ? '1px solid #27AE60' : errorCode  ? '1px solid #DB3A34' : '1px solid #24282C'}"
            v-model="number[1]"
            maxlength="1"
            @change="errorCode = false"
            required
          />
          <input
            type="text"
            :style="{ border: final == true ? '1px solid #27AE60' : errorCode  ? '1px solid #DB3A34' : '1px solid #24282C'}"
            v-model="number[2]"
            maxlength="1"
            @change="errorCode = false"
            required
          />
          <input
            type="text"
            :style="{ border: final == true ? '1px solid #27AE60' : errorCode  ? '1px solid #DB3A34' : '1px solid #24282C'}"
            v-model="number[3]"
            maxlength="1"
            @change="errorCode = false"
            required
          />
          <input
            type="text"
            :style="{ border: final == true ? '1px solid #27AE60' : errorCode  ? '1px solid #DB3A34' : '1px solid #24282C'}"
            v-model="number[4]"
            maxlength="1"
            @change="errorCode = false"
            required
          />

        </div>
      </div>
      <button :style="{background: final  ? '#27AE60' : '#055eff'}" @click.prevent="nextStep()">{{step != 'carregando' && !final ? 'Iniciar Sessão' : ''}}<div class="loader" v-if="step == 'carregando' | final ">Loading...</div></button>
      <small id="inc">© 2020 Wizzer, Inc. Todos os direitos reservados.</small>
    </form>
  </div>
</template>
<script>
import {
  required,
  email,
  minLength,
} from '../../../node_modules/vuelidate/lib/validators';
export default {
  name: 'login',
  data: () => ({
    email: '',
    pass: '',
    step: '1',
    number: [],
    errorCode: false,
    final: false,
  }),
  validations: {
    email: { required, email },
    pass: { required, minLength: minLength(8) },
    number: { required }
  },
  methods: {
    nextStep() {
      if (this.$v.$error) {
        this.$v.$touch();
      } else if (this.step == '1') {
        this.step = 'carregando'
        setTimeout(() => {
          this.step = '2'
        }, 500);
      } else if (this.step == '2') {
        this.validCode();
      }
    },
    validCode() {
      if(this.number.length == 5){
        var code = this.number[0].concat(this.number[1], this.number[2], this.number[3], this.number[4])
        if( code != '77777' ){
         this.errorCode = true
       } else {
          this.final = true,
          setTimeout(() => {
            this.$router.push({ path: '/dashboard/painel' })
          }, 3000);
       }         
      } else {
        this.errorCode = true
      }
    }
  },
};
</script>
<style src="./style.css" scoped />
