@import "../../css/reset.css";
#login {
    box-shadow: -65.9059px 75.2091px 190px rgba(0, 0, 0, 0.08), -33.3649px 38.0746px 82.8281px rgba(0, 0, 0, 0.0405), -13.1812px 15.0418px 30.875px rgba(0, 0, 0, 0.03), -2.88338px 3.2904px 10.9844px rgba(0, 0, 0, 0.0195);
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: flex;
}

#login .background {
    flex: 0 0 70%;
    background-image: url('../../assets/Fotos/casa.jpg');
    background-size: cover;
    border-radius: 8px;
    height: 100%;
}

#login .background .container {
    position: relative;
    background: linear-gradient(227.85deg, rgba(5, 94, 255, 0.8) 0%, rgba(27, 84, 188, 0.8) 50.49%, rgba(7, 47, 119, 0.8) 97.91%);
    height: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.3);
    padding: 64px 120px;
}

#login .background .container img {
    width: 100px;
}

#login .background .container .text {
    padding-top: 25vh;
}

#login .background .container .text h1 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    line-height: 110%;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

#login .background .container .text p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    line-height: 150%;
    letter-spacing: 1px;
    margin-bottom: 64px;
}

#login .background .container .text a {
    color: #ffffff;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;
    padding: 16px;
    background-color: #055eff;
    border-radius: 8px;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.3);
}

#login .background .container .text a:hover {
    background-color: #094FCE;
    transition: all 300ms ease-in-out;
}

#login .form {
    background-color: #1C1E21;
    flex: 1;
    padding: 32px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

#login .form img {
    width: 32px;
    margin-bottom: 18px;
}

#login .form h1 {
    color: #f9f9f9;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

#login .form p {
    color: #f9f9f9;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 140%;
    color: #828282;
    margin-bottom: 24px;
}

#login .form label {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
}

#login .form label small {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #f9f9f9;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 8px;
    opacity: 0.7;
    position: relative;
}

#login .form label img {
    width: 16px;
    margin-bottom: 0;
    margin-right: 8px;
}

#login .form label input {
    outline: none;
    font-size: 16px;
    color: #fff;
    border: 1px solid #24282C;
    padding: 16px;
    background-color: transparent;
    border-radius: 8px;
    font-weight: 300;
}

#login .form label small span {
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    right: 0;
    color: #DB3A34;
    transition: all 300ms ease-in;
}

#login .form label input::placeholder {
    color: #353d40;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
}

#login .form label input:focus {
    background: #202225;
    border: 1px solid #055eff;
    transition: all 300ms ease-in-out;
}

#login .form button {
    color: #ffffff;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;
    padding: 16px;
    background-color: #055eff;
    border-radius: 4px;
    margin: 8px 0;
}

#login .form button:hover {
    background-color: #094FCE;
    transition: all 300ms ease-in-out;
}

#inc {
    font-size: 12px;
    text-align: center;
}

#login .confirmation {
    display: flex;
    flex-direction: column;
}

#login .confirmation small {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #f9f9f9;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 8px;
    opacity: 0.7;
    position: relative;
}

#login .confirmation small span {
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    right: 0;
    color: #DB3A34;
    transition: all 300ms ease-in;
}

#login .confirmation small img {
    width: 16px;
    margin-bottom: 0;
    margin-right: 8px;
}

#login .confirmation .serial {
    display: flex;
    margin-bottom: 24px;
}

#login .confirmation input {
    height: 60px;
    margin-right: 8px;
    border-radius: 4px;
    width: 40px;
    background-color: transparent;
    font-size: 24px;
    color: #fff;
    text-align: center;
    border: 1px solid #24282C;
}

#login .confirmation input:focus {
    background: #202225;
    border: 1px solid #055eff;
    transition: all 300ms ease-in-out;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 1em;
    height: 1em;
}

.loader {
    margin: 1px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}