<template>
    <footer>
      <ul>
        <li><a href="https://wizzer.com.br/">Wizzer Site</a></li>
        <li><a href="https://wizzer.com.br/sobre">Sobre</a></li>
        <li><a href="https://wizzer.com.br/termos">Termos de Uso</a></li>
      </ul>
      <span>
        © 2020 Wizzer, Inc. Todos os direitos reservados. 
      </span>
    </footer>
</template>
<script>

export default {
    name: 'footer',
    components: {
     
    }
}
</script>

<style src="./style.css" scoped />