@import "../../css/reset.css";
footer {
    position: absolute;
    bottom: 0;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #202225;
    border: 1px solid #353d4020;
}

footer ul {
    display: flex;
}

footer ul li {
    display: flex;
    margin-right: 16px;
}

footer ul li a {
    color: #055eff;
    font-size: 12px;
}

footer span {
    font-size: 12px;
    color: #fff;
}