<template>
  <div id="menu">
    <div class="brand">
      <img src="@/assets/Brand/Logo.svg" alt="Logo" />
      <button>
        <img src="@/assets/Icons/exit.svg" alt="" />
      </button>
    </div>
    <div class="adm">
      <img
        src="https://lh3.googleusercontent.com/ogw/ADGmqu_JzKHVoNJdHd_UeG2qXl5IM5QCaW6Y2kIOjGAsOw=s83-c-mo"
        alt="Richard"
      />
      <div>
        <strong>Richard Lino Toledo</strong>
        <span>Desing at Wizzer</span>
      </div>
    </div>
    <h2>GERAL</h2>
    <div class="links">
      <ul>
        <li>
          <router-link
            to="/dashboard/painel"
            :class="$route.path == '/dashboard/painel' ? 'active' : ''"
          >
            <img
              src="@/assets/Icons/explore.svg"
              alt="Explorar"
            />Explorar</router-link
          >
        </li>
      </ul>
    </div>
    <h2>CLIENTES</h2>
    <div class="links">
      <ul>
        <li>
          <router-link to="/dashboard/my-clients"
          :class="$route.path == '/dashboard/my-clients' ? 'active' : ''"
          >
            <img src="@/assets/Icons/people.svg" alt="Pessoas" />Lista de
            Clientes</router-link
          >
        </li>
        <li>
          <a href="#">
            <img
              src="@/assets/Icons/person.svg"
              alt="Adicionar Clinte"
            />Adicionar Clientes</a
          >
        </li>
        <li>
          <router-link to="/dashboard/contract"
           :class="$route.path == '/dashboard/contract' ? 'active' : ''"
          >
            <img src="@/assets/Icons/description.svg" alt="Contrato" /> Contrato
            Externo</router-link
          >
        </li>
      </ul>
    </div>
    <h2>IMÓVIES</h2>
    <div class="links">
      <ul>
        <li>
          <router-link to="/dashboard/property"
          :class="$route.path == '/dashboard/property' ? 'active' : ''"
          >
            <img
              src="@/assets/Icons/home-white-18dp.svg"
              alt="Lista de Imóveis"
            />Lista de Imóvies</router-link
          >
        </li>
      </ul>
    </div>
    <h2>FINANCEIRO</h2>
    <div class="links">
      <ul>
        <li>
          <a to="/dashboard/contract">
            <img
              src="@/assets/Icons/swap_horiz-white-18dp.svg"
              alt="Transferências"
            />Transferências</a
          >
        </li>
        <li>
          <a to="/dashboard/contract">
            <img
              src="@/assets/Icons/today-white-18dp.svg"
              alt="Carteiras"
            />Recorrências</a
          >
        </li>
        <li>
          <a to="/dashboard/contract">
            <img
              src="@/assets/Icons/account_balance_wallet-white-18dp.svg"
              alt="Carteiras"
            />Carteiras</a
          >
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'menu',
};
</script>

<style src="./style.css" scoped />
