@import "../../css/reset.css";
#menu {
    background-color: #202225;
    padding: 24px;
    height: 100%;
    width: 260px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    transition: all 300ms ease-in;
    position: fixed;
    left: 0;
}

#menu::-webkit-scrollbar {
    background-color: #202225;
    width: 8px;
}

#menu::-webkit-scrollbar-thumb {
    background-color: #24282C;
    border-radius: 4px;
    margin: 1px;
    cursor: grab;
}

#menu .brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #24282C;
    padding-bottom: 16px;
}

#menu .brand img {
    width: 76px;
}

#menu .brand button img {
    width: 24px;
    cursor: pointer;
}

#menu .adm {
    padding: 16px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #24282C;
}

#menu .adm img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid #ffffff;
    margin-right: 16px;
}

#menu .adm div {
    display: flex;
    flex-direction: column;
}

#menu .adm strong {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

#menu .adm span {
    font-size: 14px;
    color: #fff;
    font-weight: 300;
}

#menu h2 {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.514);
    font-weight: 400;
    padding-top: 16px;
}

#menu .links {
    padding: 16px 0;
}

#menu .links ul li {
    margin-bottom: 2px;
}

#menu .links ul li a {
    display: flex;
    align-items: center;
    padding: 12px;
    color: #f9f9f9;
    border-radius: 8px;
}

#menu .links ul li a.active {
    background-color: #24282C;
    border: 1px solid #2d2e2d6c;
    transition: all 300ms ease;
}

#menu .links ul li a:hover {
    background-color: #24282C;
    transition: all 300ms ease;
    cursor: pointer;
}

#menu .links ul li a img {
    margin-right: 16px;
}