<template>
  <div id="dashboard">
      <Menu></Menu>
       <div class="container">
            <Header></Header>
            <div class="content">
                <h1>Olá, Richard</h1>
                <p>Acreditamos em poder modernizar a vida de milhares que estão em um
                processo de decisão de alugar sua nova moradia, seu lar.</p>
            </div>
                <Footer></Footer>
        </div>
            
  </div>
</template>

<script>

export default {
    name: 'dashboard',
    components: {
        Menu: () => import("@/components/Menu/Menu.vue"),
        Header: () => import("@/components/DashboardHeader/Header.vue"),
        Footer: () => import("@/components/DashboardFooter/Footer.vue")
    }
}
</script>

<style src="./style.css" scoped />