<template>
  <div id="dashboard" class="property">
     <Menu></Menu>
       <div class="container">
        <Header></Header>
        </div>
  </div>
</template>

<script>
export default {
  name: 'property',
  components: {
    Menu: () => import('@/components/Menu/Menu.vue'),
      Header: () => import("@/components/DashboardHeader/Header.vue")
  },
};
</script>

<style src="./style.css" scoped />
