@import "../../css/reset.css";
#dashboard {
    width: 100vw;
    height: 100vh;
    background-color: #1A1D20;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    justify-content: flex-end;
}

#dashboard .container {
    width: calc(100% - 260px);
    height: 100%;
    margin-top: 76px;
    position: relative;
    display: flex;
    flex-direction: column;
}

#dashboard::-webkit-scrollbar {
    background-color: #202225;
    width: 8px;
}

#dashboard::-webkit-scrollbar-thumb {
    background-color: #24282C;
    border-radius: 4px;
    margin: 1px;
    cursor: grab;
}

#dashboard .container .content {
    padding: 24px;
    display: flex;
    flex-direction: column;
}